@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />

                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" id="inputEmail" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input asp-for="Input.Password" type="password" class="form-control" id="inputPassword" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="mb-3 form-check">
                    <input asp-for="Input.RememberMe" class="form-check-input" id="rememberMe" />
                    <label class="form-check-label" for="rememberMe">Remember Me</label>
                </div>

                <div class="mb-3">
                    <button id="login-submit" type="submit" class="w-100 btn btn-primary">Log In</button>
                </div>

                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" disabled style="pointer-events: none; color: gray; text-decoration: none;">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" disabled style="pointer-events: none; color: gray; text-decoration: none;">Resend email confirmation </a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
