@model IEnumerable<OrderDetail>
@{
    ViewData["Title"] = "GetOrderDetails";
}

<h2>Order Details</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model)
            {
                <tr>
                    <td>@detail.Product?.Name</td>
                    <td>@detail.Quantity</td>
                    <td>@(Math.Round(detail.UnitPrice))</td>
                    <td>@(Math.Round(detail.Quantity * detail.UnitPrice))</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        No orders. Hurry! Go to Explore, Discover, and Buy with Ease and continue shopping.
    </div>
}

